<p>get-all-order works!0</p>


<ul class="ordes">
    <li *ngFor="let item of ordes">
      
      <!-- <span>{{ item.comment }} </span> -->
     
      <span>{{ item.id}} </span>
      <span>{{ item.service}} </span>
      <span>{{ item.serviceId}} </span>
      <span>{{ item.user}} </span>
      <span>{{ item.userId}} </span>
      <span>{{ item.dateTime}} </span>
      <span>{{ item.done}} </span>
      <span>{{ item.note}} </span>
      <span>{{ item.comment }} </span>

    </li>
  </ul>

<!-- 
id
service
serviceId
user
userId
dateTime
done
note
comment  
-->