<p>get-all-order works!02</p>


<ul class="ordes">
    <li *ngFor="let item of ordes">
      
<!-- 
{{ item.id}}
{{ item.service}} 
{{ item.serviceId}}
{{ item.user}}
{{ item.userId}}
{{ item.dateTime}} 
{{ item.done}}
{{ item.note}}
{{ item.comment }}  -->

      <span>{{ item.id}} </span>
      <span>{{ item.service}} </span>
      <span>{{ item.serviceId}} </span>
      <span>{{ item.user}} </span>
      <span>{{ item.userId}} </span>
      <span>{{ item.dateTime}} </span>
      <span>{{ item.done}} </span>
      <span>{{ item.note}} </span>
      <span>{{ item.comment }} </span>


    </li>
  </ul>

<!-- 
id
service
serviceId
user
userId
dateTime
done
note
comment  
-->