<h2>Выполненные работы</h2>


<!-- <div>
  <p *ngFor="let item of items; let i = index">{{i+1}}.{{item}}</p>
</div> -->

<ol class="gallery">
  <li *ngFor="let item of galery">
    <a href={{item}}>{{item}}</a>
  </li>
</ol>

<!-- <ol>
    <li><a href="https://www.instagram.com/p/CVDgtFkIBPF/">Insagram</a></li>
    <li><a href="https://www.instagram.com/p/CU5JoxOIeaM/">Insagram</a></li>
    <li><a href="https://www.instagram.com/p/CU15TszoUp/">Insagram</a></li>
    <li><a href="https://www.instagram.com/p/CU0JgjNoAlu/">Insagram</a></li>

    <li><a href="https://www.instagram.com/p/CUvQMwnI6ib/">Insagram</a></li>
    <li><a href="https://www.instagram.com/p/CUskxejIiU3/">Insagram</a></li>
    <li><a href="https://www.instagram.com/p/CULKokDoZWf/">Insagram</a></li>
    <li><a href="https://www.instagram.com/p/CT2SL79I6pW/">Insagram</a></li>
</ol> -->

<H2>
<a href="https://www.instagram.com/p/CVDgtFkIBPF/">Insagram</a>
</H2>